<div class="container-fluid">
  <h1>Create your cloak!</h1>

  <!-- CLOAK CREATION FORM -->
  <form [formGroup]="createCloakForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mb-3">
      <label> Cloak name :</label>
      <input
        type="text"
        formControlName="cloakName"
        class="form-control"
        placeholder="Name"
        id="cloakName"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label> Cloak value:</label>
      <input
        type="number"
        formControlName="cloakValue"
        class="form-control"
        placeholder="100"
        id="cloakValue"
      />
    </div>

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-success submit">
        Create cloak!
      </button>
      <br /><br />
      <button type="reset" class="btn btn-info reset">Reset</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let cloak of cloaks">
      <ul>
        <span>Nom : {{ cloak[0] }}</span
        ><br />
        <span>Valeur : {{ cloak[1] }}</span
        ><br />
        <span>Id : {{ cloak[2] }}</span
        ><br />
        <a
          href="/cloaks"
          (click)="onDeleteCloak(cloak[2])"
          class="btn btn-danger btn-sm"
        >
          Delete
        </a>

        <form [formGroup]="modificationCloakForm" class="form-inline">
          <div class="col-md-2 mb-3">
            <label> Cloak name :</label>
            <input
              type="text"
              formControlName="cloakName"
              class="form-control"
              value=" {{ cloak[0] }}"
            />
          </div>

          <div class="col-md-2 mb-3">
            <label> Cloak value:</label>
            <input
              type="number"
              formControlName="cloakValue"
              class="form-control"
              value="{{ cloak[1] }}"
            />
          </div>

          <div class="ButtonEnvoieReset">
            <!-- <button type="submit" class="btn btn-warning submit">
                Edit cloak!
              </button> -->
            <a
              href="/cloaks"
              (click)="onUpdateCloak(cloak[2])"
              class="btn btn-warning btn-sm"
              >Edit cloak!</a
            >
            <br /><br />
          </div>
        </form>

        <br /><br />
      </ul>
    </li>
  </ul>
</div>
