<div class="container-fluid">
  <h1>Create your cloak!</h1>

  <!-- CLOAK CREATION FORM -->
  <form [formGroup]="createCloakForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mb-3">
      <label> Cloak name :</label>
      <input
        type="text"
        formControlName="cloakName"
        class="form-control"
        placeholder="Name"
      />
    </div>

    <div class="col-md-4 mb-3" id="cloakValue">
      <label> Cloak value:</label>
      <input
        type="number"
        formControlName="cloakValue"
        class="form-control"
        placeholder="100"
      />
    </div>

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-primary submit">
        Create cloak!
      </button>
      <br /><br />
      <button type="reset" class="btn btn-primary reset">Reset</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let cloak of cloaks">
      <ul>
        <span>Nom : {{ cloak[0] }}</span
        ><br />
        <span>Valeur : {{ cloak[1] }}</span
        ><br />
        <span>Id : {{ cloak[2] }}</span
        ><br /><br />
      </ul>
    </li>
  </ul>
</div>
