<div class="container-fluid ">
  <h1>Create your armor!</h1>

  <!-- ARM CREATION FORM -->
  <form [formGroup]="chooseArmForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="col-md-6 mb-3 ali">
      <label> Armor name :</label>
      <input
        type="text"
        formControlName="armorName"
        class="form-control form-control-lg"
        placeholder="Name"
      />
    </div>

    <div class="col-md-6 mb-3 ali" id="chooseArm">
      <label>Arm</label>
      <select formControlName="armChoice" defau class="form-control">
        <option *ngFor="let arm of arms" [value]="arm[2]">{{ arm[0] }}</option>
      </select>
    </div>

    <div class="col-md-6 mb-3 ali" id="chooseCloak">
      <label>Cloak</label>
      <select formControlName="cloakChoice" defau class="form-control">
        <option *ngFor="let cloak of cloaks" [value]="cloak[2]">{{
          cloak[0]
        }}</option>
      </select>
    </div>

    <div class="col-md-6 mb-3 ali" id="chooseHelmet">
      <label>Helmet</label>
      <select formControlName="helmetChoice" defau class="form-control">
        <option *ngFor="let helmet of helmets" [value]="helmet[2]">{{
          helmet[0]
        }}</option>
      </select>
    </div>

    <div class="col-md-6 mb-3 ali" id="chooseLeg">
      <label>Leg</label>
      <select formControlName="legChoice" defau class="form-control">
        <option *ngFor="let leg of legs" [value]="leg[2]">{{ leg[0] }}</option>
      </select>
    </div>

    <div class="col-md-4 mb-3 ali" id="chooseTorso">
      <label>Torso</label>
      <select formControlName="torsoChoice" defau class="form-control">
        <option *ngFor="let torso of torsos" [value]="torso[2]">{{
          torso[0]
        }}</option>
      </select>
    </div>

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-success submit">
        Create armor!
      </button>
      <br /><br />
      <button type="reset" class="btn btn-info reset">Reset</button>
    </div>
  </form>
</div>

<ul>
  <li *ngFor="let armor of armors">
    <ul>
      <span>Nom : {{ armor[0] }}</span>
      <br />
      <ul>
        <li *ngFor="let item of armor[2]">
          <span *ngIf="item != null">
            Type : {{ item.type }}
            <ul>
              <li>Name : {{ item.name }}</li>
              <li>Value : {{ item.value }}</li>
            </ul>
            <br />
          </span>
        </li>
      </ul>
      <a
        href="/armors"
        (click)="onDeleteArmor(armor[1])"
        class="btn btn-danger btn-sm"
      >
        Delete
      </a>
      <br /><br />
    </ul>
  </li>
</ul>
