<div class="container-fluid ">
  <h1>Create your arm!</h1>

  <!-- ARM CREATION FORM -->
  <form [formGroup]="createArmForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="col-md-6 mb-3">
      <label> Arm name :</label>
      <input
        type="text"
        formControlName="armName"
        class="form-control form-control-lg"
        placeholder="Name"
      />
    </div>

    <div class="col-md-6 mb-3" id="armValue">
      <label> Arm value:</label>
      <input
        type="number"
        formControlName="armValue"
        class="form-control form-control-lg"
        placeholder="100"
      />
    </div>

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-success submit">
        Create arm!
      </button>
      <br /><br />
      <button type="reset" class="btn btn-info reset">Reset</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let arm of arms">
      <ul>
        <span>Nom : {{ arm[0] }}</span
        ><br />
        <span>Valeur : {{ arm[1] }}</span
        ><br />
        <span>Id : {{ arm[2] }}</span
        ><br />
        <a
          href="/arms"
          (click)="onDeleteArm(arm[2])"
          class="btn btn-danger btn-sm"
          >Delete</a
        >

        <!-- <a
          href="/arms"
          (click)="onUpdateArm(arm[2])"
          class="btn btn-warning btn-sm"
          >Edit</a
        > -->

        <!-- ARM MODIFICATION FORM -->
        <form [formGroup]="modificationArmForm" class="form-inline">
          <div class="col-md-2 mb-3">
            <label> Arm name :</label>
            <input
              type="text"
              formControlName="armName"
              class="form-control"
              value=" {{ arm[0] }}"
            />
          </div>

          <div class="col-md-2 mb-3">
            <label> Arm value:</label>
            <input
              type="number"
              formControlName="armValue"
              class="form-control"
              value="{{ arm[1] }}"
            />
          </div>

          <div class="ButtonEnvoieReset">
            <!-- <button type="submit" class="btn btn-warning submit">
              Edit arm!
            </button> -->
            <a
              href="/arms"
              (click)="onUpdateArm(arm[2])"
              class="btn btn-warning btn-sm"
              >Edit arm!</a
            >
            <br /><br />
          </div>
        </form>

        <br /><br />
      </ul>
    </li>
  </ul>
</div>
