<div class="container-fluid">
  <h1>Create your helmet!</h1>

  <!-- HELMET CREATION FORM -->
  <form [formGroup]="createHelmetForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mb-3">
      <label> Helmet name :</label>
      <input
        type="text"
        formControlName="helmetName"
        class="form-control"
        placeholder="Name"
      />
    </div>

    <div class="col-md-4 mb-3" id="helmetValue">
      <label> Helmet value:</label>
      <input
        type="number"
        formControlName="helmetValue"
        class="form-control"
        placeholder="100"
      />
    </div>

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-success submit">
        Create helmet!
      </button>
      <br /><br />
      <button type="reset" class="btn btn-info reset">Reset</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let helmet of helmets">
      <ul>
        <span>Nom : {{ helmet[0] }}</span>
        <br />
        <span>Valeur : {{ helmet[1] }}</span>
        <br />
        <span>Id : {{ helmet[2] }}</span>
        <br />
        <a href="/helmets" (click)="onDeleteHelmet(helmet[2])">Delete</a>
        <br />

        <!-- HELMET MODIFICATION FORM -->
        <form [formGroup]="modificationHelmetForm" class="form-inline">
          <div class="col-md-2 mb-3">
            <label> Helmet name :</label>
            <input
              type="text"
              formControlName="helmetName"
              class="form-control"
              value=" {{ helmet[0] }}"
            />
          </div>

          <div class="col-md-2 mb-3">
            <label> Helmet value:</label>
            <input
              type="number"
              formControlName="helmetValue"
              class="form-control"
              value="{{ helmet[1] }}"
            />
          </div>

          <div class="ButtonEnvoieReset">
            <!-- <button type="submit" class="btn btn-warning submit">
              Edit arm!
            </button> -->
            <a
              href="/helmets"
              (click)="onUpdateHelmet(helmet[2])"
              class="btn btn-warning btn-sm"
              >Edit helmet!</a
            >
            <br /><br />
          </div>
        </form>
      </ul>
    </li>
  </ul>
</div>
