<div class="container-fluid">
  <h1>Create your torso!</h1>

  <!-- ARM CREATION FORM -->
  <form [formGroup]="createTorsoForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mb-3">
      <label> Cloak name :</label>
      <input
        type="text"
        formControlName="torsoName"
        class="form-control"
        placeholder="Name"
      />
    </div>

    <div class="col-md-6 mb-3" id="torsoValue">
      <label> Torso value:</label>
      <input
        type="number"
        formControlName="torsoValue"
        class="form-control"
        placeholder="100"
      />
    </div>

    <div class="ButtonEnvoieReset">
      <button type="submit" class="btn btn-success submit">
        Create torso!
      </button>
      <br /><br />
      <button type="reset" class="btn btn-info reset">Reset</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let torso of torsos">
      <ul>
        <span>Nom : {{ torso[0] }}</span
        ><br />
        <span>Valeur : {{ torso[1] }}</span
        ><br />
        <span>Id : {{ torso[2] }}</span
        ><br />
        <a
          href="/torso"
          (click)="onDeleteTorso(torso[2])"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
        <br />

        <!-- TORSO MODIFICATION FORM -->
        <form [formGroup]="modificationTorsoForm" class="form-inline">
          <div class="col-md-3 mb-3">
            <label> Torso name :</label>
            <input
              type="text"
              formControlName="torsoName"
              class="form-control"
              value=" {{ torso[0] }}"
            />
          </div>

          <div class="col-md-3 mb-3">
            <label> Torso value:</label>
            <input
              type="number"
              formControlName="torsoValue"
              class="form-control"
              value="{{ torso[1] }}"
            />
          </div>

          <div class="ButtonEnvoieReset">
            <a
              href="/torsos"
              (click)="onUpdateTorso(torso[2])"
              class="btn btn-warning btn-sm"
              >Edit torso!</a
            >
            <br /><br />
          </div>
        </form>
      </ul>
    </li>
  </ul>
</div>
