<nav class="navbar navbar-dark bg-dark">
  <ul>
    <li>
      <a
        routerLink="/armors"
        routerLinkActive="active"
        class="nav-item nav-link"
        >armors <img src="../../assets/armor.png" alt="armor" class="armor"
      /></a>
    </li>
    <li>
      <a
        routerLink="/helmets"
        routerLinkActive="active"
        class="nav-item nav-link"
        >helmets <img src="../../assets/helmet.png" alt="helmet" class="helmet"
      /></a>
    </li>
    <li>
      <a routerLink="/arms" routerLinkActive="active" class="nav-item nav-link"
        >arms <img src="../../assets/arms.png" alt="arms" class="arms"
      /></a>
    </li>
    <li>
      <a routerLink="/legs" routerLinkActive="active" class="nav-item nav-link"
        >legs <img src="../../assets/leg.png" alt="leg" class="leg"
      /></a>
    </li>
    <li>
      <a
        routerLink="/torsos"
        routerLinkActive="active"
        class="nav-item nav-link"
        >torsos <img src="../../assets/torso.png" alt="torso" class="torso"
      /></a>
    </li>
    <li>
      <a
        routerLink="/cloaks"
        routerLinkActive="active"
        class="nav-item nav-link"
        >cloaks <img src="../../assets/cloak.png" alt="cloak" class="cloak"
      /></a>
    </li>
  </ul>
</nav>
